* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background-color: skyblue;
    display: block;
    border: 2px solid skyblue;
    width: 100%;
    height: 100%;
}

.health-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-bottom: 500px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
}

.health-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.player-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 3px;
    background-color: grey;
    border-radius: 5px;
    margin-bottom: 5px;
}

.health-bar {
    height: 20px;
    width: 300px;
    background-color: red;
    border: 2px solid black;
    transition: width 0.3s ease-in-out;
}

#game-over-screen {
    position: absolute;
    color: white;
    font-size: 60px;
    text-align: center;
    display: none;
}

#restart-button {
    position: absolute;
    top: 60%;
    left: 45%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
